{% extends "layout.html" %}
{% block title %}Classic{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="col">
        <div class="row">
            <div class="col-xl-10 mx-auto">

                <a href="/" class="logo-container">
                    <img src="/static/images/GuiltyGeardleLogo.png" alt="Guilty Geardle Logo" class="logo-img">
                </a>

                <h1 class="text-center">Classic Mode</h1>
                <p class="text-center">Guess the hidden Guilty Gear character with clues provided after each guess.</p>
                <!-- Game Mode Buttons -->
                <div class="gamemode-buttons">
                    <a href="#classic" class="mode-button active" style="--active-color:#004c9c;">
                        <img src="/static/images/ButtonClassic.png" alt="Classic Mode" class="button-img">
                    </a>

                    <a href="#moves" class="mode-button" style="--active-color:#00c164;">
                        <img src="/static/images/ButtonMoves.png" alt="Moves Mode" class="button-img">
                    </a>

                    <a href="#quote" class="mode-button" style="--active-color:#d35100;">
                        <img src="/static/images/ButtonQuote.png" alt="Quote Mode" class="button-img">
                    </a>

                    <a href="#artwork" class="mode-button" style="--active-color:#7300b0;">
                        <img src="/static/images/ButtonArtwork.png" alt="Artwork Mode" class="button-img">
                    </a>
                </div>
                <div class="info-card">
                    <h2>Guess today's Guilty Gear character!</h2>
                    <p class="lead">
                        Type any character to begin.
                    </p>
                    <small>
                        The data is current up to Guilty Gear -Strive-, Season Pass 5 DLC: Character 2.
                    </small>
                </div>
                <form class="guess-form">
                    <div class="input-wrapper">
                        <input
                            id="guessInput"
                            class="guess-input"
                            type="text"
                            autocomplete="off"
                            placeholder="Type character name...">

                        <div id="suggestions" class="suggestions"></div>
                    </div>

                    <button class="guess-button" type="submit">
                        <svg width="64" height="64" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 21L23 12L2 3V10L17 12L2 14V21Z" fill="white"/>
                        </svg>
                    </button>
                </form>
                <table id="guessTable" class="guess-table-container">
                    <thead id="guessTableHead" style="display: none;">
                        <tr>
                            <th>Image</th>
                            <th>Character</th>
                            <th>Gender</th>
                            <th>Hair</th>
                            <th>Age</th>
                            <th>Height</th>
                            <th>Game</th>
                            <th>Archetype</th>
                            <th>Affiliation</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div id="winMessage" class="win-message" style="display: none;">
                    <img id="targetCharacterImage" class="target-image" src="" alt="Target Character">
                    <h2>🎉 You Got It! 🎉</h2>
                    <p id="winText">You guessed the correct character!</p>
                    <p id="triesText" class="tries-text"></p>
                    <button onclick="location.reload()" class="restart-button">Play Again</button>
                </div>
                <div class="accordion mt-4" id="indicatorAccordion">
                    <div class="accordion-item indicator-accordion">
                        <h2 class="accordion-header" id="headingIndicators">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIndicators" aria-expanded="false" aria-controls="collapseIndicators"> Colour Indicators</button>
                        </h2>
                        <div id="collapseIndicators" class="accordion-collapse collapse" aria-labelledby="headingIndicators" data-bs-parent="#indicatorAccordion">
                            <div class="accordion-body">
                                <div class="indicator-grid">
                                    <div class="indicator-item">
                                        <div class="indicator-box correct"></div>
                                        <span>Correct</span>
                                    </div>
                                    <div class="indicator-item">
                                        <div class="indicator-box partial"></div>
                                        <span>Partial</span>
                                    </div>
                                    <div class="indicator-item">
                                        <div class="indicator-box incorrect"></div>
                                        <span>Incorrect</span>
                                    </div>
                                    <div class="indicator-item">
                                        <div class="indicator-box higher">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"> <path d="M12 19V5"/> <polyline points="6 11 12 5 18 11"/></svg>
                                        </div>
                                        <span>Higher</span>
                                    </div>
                                    <div class="indicator-item">
                                        <div class="indicator-box lower">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"> <path d="M12 5v14"/> <polyline points="6 13 12 19 18 13"/></svg>
                                        </div>
                                        <span>Lower</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="time-display">
                    <p>Next character in: <span id="timeUntilNext"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
